<header>
  <nav id="navbar" >
      <img src="../assets/icons/gamepad.png" alt="" id="logo">
      <div id="navbar-itens">
        <div class="navbar-item">Playstation 4</div>
        <div class="navbar-item">Playstation 3</div>
        <div class="navbar-item">Xbox One</div>
        <div class="navbar-item">Pré-venda</div>
      </div>
      <img id="login" src="../assets/icons/contorno-de-botao-de-seta-quadrada-de-login.png">
      <img id="logout" src="../assets/icons/sair (1).png">
  </nav>
</header>
<aside>
  <div id="opcoes">
    <ul id="opcoes-lista" >
      <li class="opcao-titulo" >Promoções</li>
      <li class="opcao-item" >Playstation 4 PSN</li>
      <li class="opcao-item" >Playstation 3 PSN</li>
      <li class="opcao-item" >Xbox One Live</li>
    </ul>
    <ul id="opcoes-lista" >
      <li class="opcao-titulo" >Playstation 4</li>
      <li class="opcao-item" >Mídia Digital PS4</li>
      <li class="opcao-item" >PS VR Jogos</li>
    </ul>
    <ul id="opcoes-lista" >
      <li class="opcao-titulo" >Playstation 3</li>
      <li class="opcao-item" >Mídia Digital PS3</li>
    </ul>
    <ul id="opcoes-lista" >
      <li class="opcao-titulo" >Xbox One</li>
      <li class="opcao-item" >Mídia Digital</li>
      <li class="opcao-item" >Xbox One Live</li>
    </ul>
    <ul id="opcoes-lista" >
      <li class="opcao-titulo" >Pré-Venda</li>
      <li class="opcao-item" >Pré-Vendas PS4</li>
      <li class="opcao-item" >Pré-Vendas Xbox One</li>
    </ul>
  </div>
</aside>
<main>
  <article>
    <div id="container">
      <router-outlet></router-outlet>
    </div>
  </article>
</main>

<div id="creditos" >Ícones feitos por <a href="https://www.flaticon.com/br/autores/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/br/" title="Flaticon">www.flaticon.com</a></div>


