<div id="card-list">
  <div class="card">
    <label class="nome-livro" >Battlefield 5</label>
    <label class="preco">R$ 129,00</label>
    <img src="../../assets/img/bf5.jpg" alt="" class="img-livro">
    <div class="btn-primary">Visualizar</div>
  </div>
  <div class="card">
    <label class="nome-livro" >Bloodborne</label>
    <label class="preco">R$ 129,00</label>
    <img src="../../assets/img/blood.jpg" alt="" class="img-livro">
    <div class="btn-primary">Visualizar</div>
  </div>
  <div class="card">
    <label class="nome-livro" >Days Gone</label>
    <label class="preco">R$ 129,00</label>
    <img src="../../assets/img/daysgone.webp" alt="" class="img-livro">
    <div class="btn-primary">Visualizar</div>
  </div>
  <div class="card">
    <label class="nome-livro" >Metro Exodus</label>
    <label class="preco">R$ 129,00</label>
    <img src="../../assets/img/metro.jpg" alt="" class="img-livro">
    <div class="btn-primary">Visualizar</div>
  </div>
  <div class="card">
    <label class="nome-livro" >Uncharted 4</label>
    <label class="preco">R$ 129,00</label>
    <img src="../../assets/img/uncharted.png" alt="" class="img-livro">
    <div class="btn-primary">Visualizar</div>
  </div>
  <div class="card">
    <label class="nome-livro" >Star Wars</label>
    <label class="preco">R$ 129,00</label>
    <img src="../../assets/img/jedi.jpg" alt="" class="img-livro">
    <div class="btn-primary">Visualizar</div>
  </div>
  <div class="card">
    <label class="nome-livro" >Need For Speed: Heat</label>
    <label class="preco">R$ 129,00</label>
    <img src="../../assets/img/heat.jpg" alt="" class="img-livro">
    <div class="btn-primary">Visualizar</div>
  </div>
  <div class="card">
    <label class="nome-livro" >God of War+</label>
    <label class="preco">R$ 129,00</label>
    <img src="../../assets/img/gow.jfif" alt="" class="img-livro">
    <div class="btn-primary">Visualizar</div>
  </div>
</div>
